[Unit]
Description=hotplug screen

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/home/gms/bin/mh
User=gms
KillMode=none

[Install]
WantedBy=multi-user.target
