[Unit]
Description=hotplug screen

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/home/gms/.config/i3/scripts/mh.sh
User=gms
KillMode=none

[Install]
WantedBy=multi-user.target
